body {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-width: 100%;
}

h4 {
  margin-top: 0;
}

.app {
  max-width: 95%;
  overflow: scroll;
  margin: 0 auto;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.interactive-section {
  float: left;
  width: 45%;
  height: 100%;
}

.checklist-section {
  float: right;
  width: 45%;
  height: 100%;
  padding-left: 15px;
  margin-left: 15px;
  justify-content: center;
  border-left: 1px solid white;
}

.presentation-id {
  margin-top: 10px;
}

textarea {
  min-width: 60%;
  min-height: 100px;
}
